In [1]:
import numpy as np
import pandas as pd


import json
import requests
from pprint import pprint

In [2]:
file_path = "Resources/YSARC.csv"
school_df= pd.read_csv(file_path)
school_df

,Layer,Name,GEOID,YRSUP_2019,YRSUP_2019_moe
0,NaN,NaN,NaN,"Youth suicide attempts rate (% of students), 2019",(90% margin of error)
1,City,"Chicago, IL",1714000.0,3.4,0.96517857163
2,City,"Chicago, IL",1714000.0,3.4,0.96517857163

In [3]:
file_path2 = "Resources/SSRC.csv"
safety_df= pd.read_csv(file_path2)
safety_df

,Layer,Name,GEOID,YRSAFP_2019,YRSAFP_2019_moe
0,NaN,NaN,NaN,"School safety rate (% of students), 2019",(90% margin of error)
1,City,"Chicago, IL",1714000.0,12.8,3.399107143495
2,City,"Chicago, IL",1714000.0,12.8,3.399107143495

In [4]:
file_path3 = "Resources/SSVIC.csv"
county_df= pd.read_csv(file_path3)
county_df

,Layer,Name,GEOID,SVI_2018,SVI_2018_moe
0,NaN,NaN,NaN,"Social Vulnerability Index (percentile), 2018",(90% margin of error)
1,Community area,Rogers Park,1.0,74.252711166267,NaN
2,Community area,Norwood Park,10.0,28.1600046000414,NaN
3,Community area,Jefferson Park,11.0,41.0611729629026,NaN
4,Community area,Forest Glen,12.0,17.5502845745532,NaN
...,...,...,...,...,...
73,Community area,Morgan Park,75.0,57.4850447001788,NaN
74,Community area,O'Hare,76.0,57.4095078595596,NaN
75,Community area,Edgewater,77.0,46.5277661622338,NaN
76,Community area,Near North Side,8.0,21.21524105,NaN
77,Community area,Edison Park,9.0,5.10661807501455,NaN

In [5]:
file_path4 = "Resources/CBRD.csv"
belonging_df= pd.read_csv(file_path4)
belonging_df

,Layer,Name,GEOID,HCSCBP_2020-2021,HCSCBP_2020-2021_moe
0,NaN,NaN,NaN,"Community belonging rate (% of adults), 2020-2021",(90% margin of error)
1,Community area,Rogers Park,1.0,39.856683747,7.559755139691999
2,Community area,Norwood Park,10.0,55.009256357,10.269752311322
3,Community area,Jefferson Park,11.0,52.51604687,12.27374862707
4,Community area,Forest Glen,12.0,70.491910862,13.863470337906
...,...,...,...,...,...
73,Community area,Morgan Park,75.0,62.290987599,15.548622128105501
74,Community area,O'Hare,76.0,55.340499009,18.25943065009
75,Community area,Edgewater,77.0,50.091956516,6.512196221387501
76,Community area,Near North Side,8.0,40.539485666,5.3228257821655
77,Community area,Edison Park,9.0,59.249981711,13.1204258485895